.player-wrapper {
    /* // Reset width and height */
    width: auto; 
    height: auto;
    margin: 2rem
  }
  .react-player {
    /* // Percentage ratio for 16:9 */
    padding-top: 56.25%; 
    position: relative; 
  }
  
  .react-player > div {
    /* // Scaling will occur since parent is relative now */
    position: absolute; 
    top: 0;
    left: 0;
  }